<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMANTLE BOGACU | Personal website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="personal website">
    <meta name="keywords" content="personal, website">
    <meta name="author" content="Amantle Tshadi Bogacu">
    <link rel="stylesheet" href="assets/css/netflixinspired.css">
    <link rel="icon" href="assets/img/moonicon.jpg">

</head>
<body>
    <!-- <div id="nav" class="nav" scroll="blacknavbar()">
        <img class="nav_logo" src="assets/img/blog.jpg" alt="" />
        <img class="nav_avatar" src="assets/img/t2.jpg" alt="" />
    </div> -->
    <header>
        <a href="#" class="logo"><img src="assets/img/mylogo.png"></a>
        <ul class="navigation">
            <li><a href="#">Tshadi</a></li>
            <li><a href="#">Coding</a></li>
            <li><a href="#">Baking and Cooking</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Random</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
    </header>

    <div class="banner">
        <img src="assets/img/vlogcover.jpg" class="bg">

        <div class="content">
            <img src="assets/img/name.png" class="movieTitle">
            <h4>
                <span>2023</span>
                <span><i>:)</i></span>
                <span>inHale</span>
                <span>exHale</span>
            </h4>
            <p>
                Welcome to the vlog section of my website :) Here you will find a collection of videos that document 
                my thoughts, experiences, and passions. From baking and cooking vlogs, to daily vlogs, to tutorial vlogs, 
                I hope you find inspiration in this diverse collection of videos.
                 Thank you for joining me on my vlogging journey !!! MUCH MARATO FROM ME'<'3            
                </p>

            <div class="buttons">
                <a href="#"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
                <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> My List</a>
            </div>
        </div>
        <a class="play" onclick="toggleVideo()"><img src="assets/img/baking.jpg">Watch Trailer</a>
    </div>

    <div class="trailer">
        <video src="assets/videos/trailer.mp4" controls="true"></video>
        <img src="assets/img/baking.jpg" class="close" onclick="toggleVideo()">
    </div>

    <div class="row">
        <h2> TSHADI</h2>
        <div class="row_posters">
            <img class="row_poster" src="assets/img/moonlogo.jpg" alt="" class="row_poster row_posterLarge" />
            <img class="row_poster" src="assets/img/moonlogo.jpg" alt="" class="row_poster row_posterLarge" />
            <img class="row_poster" src="assets/img/moonlogo.jpg" alt="" class="row_poster row_posterLarge" />
            <img class="row_poster" src="assets/img/moonlogo.jpg" alt="" class="row_poster row_posterLarge" />
            <img class="row_poster" src="assets/img/moonlogo.jpg" alt="" class="row_poster row_posterLarge" />
        </div>
    </div>

        <div class="row">
            <h2> BAKING</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
                <img class="row_poster" src="assets/img/moonicon.jpg" alt="" class="row_poster" />
            </div>
        </div>

        <div class="row">
            <h2> CODING</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/brain.png" alt="" class="row_poster row_posterLarge" />
            </div>
        </div>

            <div class="row">
                <h2> todo</h2>
                <div class="row_posters">
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                    <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                </div>
            </div>
    
            <div class="row">
            <h2> todo</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
            </div>
        </div>

        <div class="row">
            <h2> todo</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
            </div>
        </div>

        <div class="row">
            <h2> todo</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
            </div>
        </div>

        <div class="row">
            <h2> todo</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
            </div>
        </div>

            <div class="row">
            <h2> todo</h2>
            <div class="row_posters">
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
                <img class="row_poster" src="assets/img/bbrain.png" alt="" class="row_poster row_posterLarge" />
            </div>    
        </div>



</body>
    <script src="assets/js/netflixinspired.js"></script>

</html>